header {
    color: #fff;
    background: url("img/album-covers.jpg") 0 -20px repeat;
}

    header h1 {
        padding: 30px 0;
    }

.album img {
    width: 150px;
    float: left;
    margin-right: 20px;
}

.album h2 span {
    padding-left: 10px;
    color: gray;
    font-size: 1.5rem;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.link {
    background-color: #94b8b8;
    color: #3d5c5c;
    border: 1px solid #94b8b8;
    border-radius: 0.25rem;
    padding: 5px;
}
.link:hover {
    border-color: #476b6b;
    text-decoration: none;
    color: #ffffff;
    background-color: #75a3a3;
}
.link-container {
    text-align: right;
}
.btn-holder {
    text-align: right;
}
.btn-style {
    background-color: #17a2b8;
    border-color: #117a8b;
}
.btn-style:hover {
    background-color: #3ed0e8;
    border-color: #3ed0e8;
}
i {
    padding: 2px;
}